.header {
  background: black;
    .logo img {
      max-width: 30px;
    }

  .navigation ul li a {
    padding: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 12px;
  }
}

.intro-title,
.logo
{

  letter-spacing: 4px;
  padding: 12px 0;
  .wf-active & {

  }

  @include mq(md) {

  }
}

.intro-section {

  background: #000000;
  background-image: linear-gradient(to left, #5d5d5d 0%, #000000 100%);
  padding: 3em 0;

  .container {


  }

  @include mq(md) {


    .container {


    }

    p {
      font-size: 1.125em;
    }
  }
}

.container .section {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 0.2em solid #efefef;

  &:first-child {
    margin-top: 0;
    border-top: 0;
  }

  @include mq(sm) {
    margin-top: 40px;
    padding-top: 40px;
  }
}

#grid .col {
  margin-bottom: 30px;

  > span {
    display: block;
    padding: 1em;
    background: #efefef;
  }
}

.btn-outline {
  border-color: $button-bg;
  background-color: transparent;
  color: $button-bg;

  &:hover, &:focus {
    border-color: $button-hover-bg;
    background-color: $button-hover-bg;
  }
}


.btn-outline-white {
  border-color: white;
  background-color: transparent;
  color: white;

  &:hover, &:focus {
    border-color: white;
    background-color: white;
    color: black;
  }
}

.form-group > .btn {
  margin-bottom: 0.2em;
}

.btn-group {
  margin-bottom: 0;
}

.media p {
  margin-bottom: 0;
}